
<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="http://upload.wikimedia.org/wikipedia/en/6/6e/Chapman_University_logo.gif">
  <title>Chapman Reach</title>
  <%= stylesheet_link_tag    'application', media: 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>