<!DOCTYPE html>

<html class="noIE" lang="en-US">
	<head>
		<title>Chapman Reach</title>

		<!-- meta -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
		<link rel="shortcut icon" href="http://upload.wikimedia.org/wikipedia/en/6/6e/Chapman_University_logo.gif">

		<!-- css -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/style.css" media="screen"/>

	</head>
	
	<body>
		<div id="wrapper">
			<div id="header" class="content-block">
				</section>
				<section class="banner">
						<div class="slogan">
							Chapman Reach
						</div>
						<div class="secondary-slogan">
							Your final course managment solution
						</div>
				</section>
			</div><!-- header -->

			<!-- About us -->
        <div id="about" class="about-us">
            <div class="container about-sec">
                <header class="block-heading cleafix">
						<div class="title-page">
							<p class="main-header">About us</p>
						    <p class="sub-header">What Reach Offers</p>
						</div>
					</header>
                <div class="divide50"></div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="aboutus-item">
                            <i class="aboutus-icon fa fa-plane"></i>
                            <h4 class="aboutus-title">Great Transport</h4>
                            <p class="aboutus-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum et, alias vero, reprehenderit doloremque neque dignissimos voluptas.</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="aboutus-item">
                            <i class="aboutus-icon fa fa-usd"></i>
                            <h4 class="aboutus-title">Not Expensive</h4>
                            <p class="aboutus-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum et, alias vero, reprehenderit doloremque neque dignissimos voluptas.</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="aboutus-item">
                            <i class="aboutus-icon fa fa-cutlery"></i>
                            <h4 class="aboutus-title">Delicious Food</h4>
                            <p class="aboutus-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum et, alias vero, reprehenderit doloremque neque dignissimos voluptas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /About us -->

			<!-- <div class="content-block" id="portfolio">
				<div class="container portfolio-sec">
					<header class="block-heading cleafix">
						<a href="#" class="btn btn-o btn-lg pull-right">View All</a>
						<div class="title-page">
							<p class="main-header">Our Latest Works </p>
						    <p class="sub-header">Take a look at some of our recent products</p>
					    </div>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/rain_1-320x240.jpg)">
									<span class="btn btn-o-white">Lorem Rocks</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/min_icons_thumb1-320x240.jpg)">
									<span class="btn btn-o-white">Lorem Rocks</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/flat_icons_thumb.jpg)">
									<span class="btn btn-o-white">Lorem Rocks</span>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/wood-320x240.jpg)">
									<span class="btn btn-o-white">Lorem Rocks</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/bike-320x240.jpg)">
									<span class="btn btn-o-white">Lorem Rocks</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/six_1-320x240.jpg)">
									<span class="btn btn-o-white">Lorem Rocks</span>
								</a>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #portfolio --> -->

			<div class="content-block parallax" id="services">
				<div class="container services-sec">
					<div class="title-page">
						<p class="main-header">Our Services </p>
					    <p class="sub-header">A little about what we do</p>
					</div>
					<section class="block-body">
						<div class="row">
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-send-o"></i>
									</div>
									<h2 class="service-head">4-Year Plan</h2>
									<p>Save yourself the trip to academic counseling. Shorly after creating your account, Reach uses our advanced algorithm to generate your 4-year plan in just minutes.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-heart-o"></i>
									</div>	
									<h2 class="service-head">Course Scheduling</h2>
									<p>Save yourself the trip to your academic counselor. Shorly after creating your account, Reach uses our advanced algorithm to generate your 4-year plan in just minutes.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-camera-retro"></i>
									</div>	
									<h2 class="service-head">____________</h2>
									<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #services -->


		<!-- 	<div class="content-block" id="blog">
				<div class="container blog-sec">
					<header class="block-heading cleafix">
						<a href="#" class="btn btn-o btn-lg pull-right">View All</a>
						<div class="title-page">
							<p class="main-header">From the Blog</p>
						    <p class="sub-header">Keep up with the latest happenings.</p>
						</div>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-4 blog-post">
								<img src="assets/images/bike_water1-1000x600.jpg">
								<a href="#"><h2>Design Your Mind</h2></a>
								<div class="date">3 Nov, 2014</div>
								<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								<a href="">Read More</a>
							</div>
							<div class="col-sm-4 blog-post">
								<img src="assets/images/mac_glasses1-1000x600.jpg">
								<a href="#"><h2>Winter Is Comming</h2></a>
								<div class="date">3 Nov, 2014</div>
								<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								<a href="">Read More</a>
							</div>
							<div class="col-sm-4 blog-post">
								<img src="assets/images/road-1000x600.jpg">
								<a href="#"><h2>The Illustration</h2></a>
								<div class="date">3 Nov, 2014</div>
								<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								<a href="">Read More</a>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #blog --> -->


			<div class="content-block parallax" id="parallax">
				<div class="container">
					<h3 class="call-action pull-left">In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis.</h3>
					<a href="#" class="pull-right btn btn-o-white btn-lg">Reach Today</a>
				</div>
			</div><!-- #parallax -->

			<div class="content-block" id="testimonials">
				<div class="container testimonial-sec">

					<header class="block-heading cleafix">
						<div class="title-page  pull-left">
							<p class="main-header">Testimonial</p>
						    <p class="sub-header">What our client says</p>
						</div>
					</header>
					
					<section class="block-body">
						<div class="row">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							  <!-- Indicators -->
							  <ol class="carousel-indicators">
							    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
							    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
							  </ol>


							  <!-- Wrapper for slides -->
							  <div class="carousel-inner" role="listbox">
							    <div class="item active">
							      <div class="img-center">	
							      	<img class="img-circle circular-img" src="assets/images/01_200x200.png">
							      </div>	
							      <h3>Create a website that you are gonna be proud of. Be it Business, Portfolio, Photography, eCommerce & much more.
								  </h3>
							      
							    </div>
							    <div class="item">
							    	<div class="img-center">	
							      		<img class="img-circle circular-img" src="assets/images/02_200x200.png">
							      </div>
							       <h3>Create a website that you are gonna be proud of. Be it Business, Portfolio, Photography, eCommerce & much more.
								  </h3>
							      
							    </div>
							    <div class="item">
							    	<div class="img-center">	
							      		<img class="img-circle circular-img" src="assets/images/03_200x200.png">
							        </div>
							       <h3>Create a website that you are gonna be proud of. Be it Business, Portfolio, Photography, eCommerce & much more.
								  </h3>
							      
							    </div>
							  </div>
							</div>
						</div>	
					</section>
				</div>
			</div><!-- /#testimonials -->

			<div class="content-block" id="footer">
				<div class="container">
					<div class="row">
							<div class="col-sm-4 blog-post">
								
								<h2 class="footer-block">Have a question</h2>
								<p>Here at Reach, your words add value to our wisdom...</p>

								<p>We are always trying to grow, and that can't happen without the support of the Chapman community. Reach is build by Chapman student for Chapman students so please leave any feedback or support. Our team thanks you for your support.
								</p>

								<p>For any business inquiries, please leave us a message!</p>
							</div>
							<div class="col-sm-4 blog-post">
								<h2 class="footer-block">Leave us a message</h2>
								<form class="" role="form">
									<div class="form-group">
								    	<input type="text" class="form-control form-control-white" id="subject" placeholder="Your Name" required>
								  	</div>
								    <div class="form-group">
								    	<input type="email" class="form-control form-control-white" id="exampleInputEmail2" placeholder="Enter email" required>
								    </div>
								    <div class="form-group">
								    	<textarea class="form-control form-control-white" placeholder="Write Something" required></textarea>
								    </div>
								    <div class="form-group">
								    	<input type="submit" class="text-center btn btn-o-white" value="Say Hello">
								  	</div>
								</form>
							</div>
							<div class="col-sm-4 blog-post">
								
								<h2 class="footer-block">Contact Details</h2>
								<ul>
									<li class="address-sub"><i class="fa fa-map-marker"></i>Office Address</li>
										<p>
											Blabla Parkway, P.o Box 353 Mountain View. United States of America. 
										</p>
									<li class="address-sub"><i class="fa fa-phone"></i>Phone</li>
										<p>
											Local: 1-800-123-hello<br>
											Mobile: 1-800-123-hello
										</p>
									<li class="address-sub"><i class="fa fa-envelope-o"></i>Email Us</li>
										<p>
											<a href="mailto:chapmanreach@gmail.com">chapmanreach@gmail.com</a><br>
										</p>


								</ul>
								<div class="social">
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-pinterest-p"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-skype"></i></a>
								</div>
								
							</div>
						</div>
				</div>
			</div>
			<div class="content-block footer-bottom" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-6">&copy; Reach 2015</div>
						<div class="col-xs-6 text-right"><a>Reach is not affiliated with Chapman Univeristy</a></div>
					</div>
				</div>
			</div><!-- #footer -->

		</div><!--/#wrapper-->




		<script src="assets/js/jquery-2.1.3.min.js"></script>
		<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/jquery.actual.min.js"></script>
		<script src="assets/js/jquery.scrollTo.min.js"></script>
		<script src="assets/js/script.js"></script>
		<script src="assets/js/smoothscroll.js"></script>
		<script type="text/javascript">
		jQuery(document).ready(function($){

		  	$(window).scroll(function() {
		  		
		  		console.log("asdf");

				if ($(window).scrollTop() > 100 ){
		    
		 		$('.top-header').addClass('shows');
		    
		  		} else {
		    
		   	 	$('.top-header').removeClass('shows');
		    
		 		};   	
			});

		  });

		jQuery('.scroll').on('click', function(e){		
				e.preventDefault()
		    
		  jQuery('html, body').animate({
		      scrollTop : jQuery(this.hash).offset().top
		    }, 1500);
		});


		</script>


	</body>
</html>
