<!DOCTYPE html>

<html class="noIE" lang="en-US">
	<head>
		<title>Chapman Reach</title>

		<!-- meta -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
		

		<link rel="stylesheet" href="application.css">
		<script src="application.js"></script> 

		
<!--		<link rel="stylesheet" href="bootstrap.min.css">
		<link rel="stylesheet" href="../assets/stylesheets/font-awesome.min.css">
		<link rel="stylesheet" href="../assets/stylesheets/style.css" media="screen"/>
		<script type="text/javascript" src="../assets/javascripts/login.js"></script> 
		<link rel="stylesheet" href="../assets/stylesheets/reset.css"> 
		<link rel="stylesheet" href="../assets/stylesheets/special.css"> 
	-->	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
  		
  		<%= stylesheet_link_tag    'application', media: 'application', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', media: 'application', 'data-turbolinks-track' => true %>


	</head>
	
	<body>
		<div id="wrapper">
			<div id="header" class="content-block">
				</section>
				<section class="banner">
						<div class="slogan">
							Chapman Reach
						</div>
						<div class="secondary-slogan">
							Your final course managment solution
						</div>
				</section>
				<div class="row">
					<nav class="main-nav">
						<a href="#0" class="middle btn btn-o-login btn-lg">Log In</a>
	 				</nav>
	    			<a href="#about" class="middle btn btn-o-findmore btn-lg">Find Out More</a>
	    		</div>


			</div><!-- header -->

			<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
				<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
					<ul class="cd-switcher">
						<li><a href="#0">Sign in</a></li>
						<li><a href="#0">New account</a></li>
					</ul>

					<div id="cd-login"> <!-- log in form -->
						<form class="cd-form">
							<p class="fieldset">
								<label class="image-replace cd-email" for="signin-email">E-mail</label>
								<input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
								<span class="cd-error-message">Error</span>
							</p>

							<p class="fieldset">
								<label class="image-replace cd-password" for="signin-password">Password</label>
								<input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Password">
								<span class="cd-error-message">Error</span>
							</p>

							<p class="fieldset">
								<input type="checkbox" id="remember-me" checked>
								<label for="remember-me">Remember me</label>
							</p>

							<p class="fieldset">
								<input class="full-width" type="submit" value="Login">
							</p>
						</form>
						
						<p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
					</div> <!-- cd-login -->

					<div id="cd-signup"> <!-- sign up form -->
						<form class="cd-form">
							<p class="fieldset">
								<label class="image-replace cd-email" for="signup-email">E-mail</label>
								<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
								<span class="cd-error-message">Error</span>
							</p>

							<p class="fieldset">
								<label class="image-replace cd-password" for="signup-password">Password</label>
								<input class="full-width has-padding has-border" id="signup-password" type="password"  placeholder="Password">
								<span class="cd-error-message">Error</span>
							</p>
							<p class="fieldset">
								<label class="image-replace cd-password" for="signup-password">Confirm Password</label>
								<input class="full-width has-padding has-border" id="signup-password" type="password"  placeholder="Confirm Password">
								<span class="cd-error-message">Error</span>
							</p>

							<p class="fieldset">

								<input type="checkbox" id="accept-terms">
								<label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
							</p>

							<p class="fieldset">
								<input class="full-width has-padding" type="submit" value="Create account">
							</p>
						</form>

						<!-- <a href="#0" class="cd-close-form">Close</a> -->
					</div> <!-- cd-signup -->

					<div id="cd-reset-password"> <!-- reset password form -->
						<p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

						<form class="cd-form">
							<p class="fieldset">
								<label class="image-replace cd-email" for="reset-email">E-mail</label>
								<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
								<span class="cd-error-message">Error</span>
							</p>

							<p class="fieldset">
								<input class="full-width has-padding" type="submit" value="Reset password">
							</p>
						</form>

						<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
					</div> <!-- cd-reset-password -->
					<a href="#0" class="cd-close-form">Close</a>
				</div> <!-- cd-user-modal-container -->
			</div> <!-- cd-user-modal -->

			<!-- About us -->
        <div id="about" class="about-us">

            <div class="container about-sec">
                <header class="block-heading cleafix">
						<div class="title-page">
							<p class="main-header">About us</p>
						    <p class="sub-header">What Reach Offers</p>
						</div>
					</header>
                <div class="divide50"></div>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="aboutus-item">
                            <i class="aboutus-icon fa fa-plane"></i>
                            <h4 class="aboutus-title">Simplicity</h4>
                            <p class="aboutus-desc">Thanks to our friendly user interface, we let students spant more time learning while we handle all the rest</p>
                        </div>
                    </div>
<!--                     <div class="col-md-4 text-center">
                        <div class="aboutus-item">
                            <i class="aboutus-icon fa fa-usd"></i>
                            <h4 class="aboutus-title">____________</h4>
                            <p class="aboutus-desc">____________ ____________ ____________ ____________ ____________ ____________ ____________ ____________ ____________ ____________</p>
                        </div>
                    </div> -->
                    <div class="col-md-6 text-center">
                        <div class="aboutus-item">
                            <i class="aboutus-icon fa fa-cutlery"></i>
                            <h4 class="aboutus-title">Security</h4>
                            <p class="aboutus-desc">At Reach, your security is our priority. This is why only you will have access to all of your personal data, and only Chapman students with a valid email can search and view course pages</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
			<div class="content-block parallax" id="services">
				<div class="container services-sec">
					<div class="title-page">
						<p class="main-header-white">Our Services</p>
					    <p class="sub-header-white">A little about what we do</p>
					</div>
					<section class="block-body">
						<div class="row">
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-send-o"></i>
									</div>
									<h2 class="service-head">4-Year Plan</h2>
									<p>Save yourself the trip to academic counseling. Shortly after creating your account, Reach uses our advanced algorithm to generate your 4-year plan in just minutes!</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-heart-o"></i>
									</div>	
									<h2 class="service-head">Course Scheduling</h2>
									<p>Stop wasting time trying to make your perfect schedule for the semester. Let us do that for you. List the classes you want to take as well as your prefered time and Reach will create your schedule for you, hassle free! </p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-camera-retro"></i>
									</div>	
									<h2 class="service-head">Sharing</h2>
									<p>Don't keep your friends in the dark, with the click of a button you can share and compare your schedule with your peers. </p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #services -->


			<div class="content-block parallax" id="parallax">
				<div class="container">
					<h3 class="call-action pull-left">Build your dream schedule in just seconds.</h3>
					<nav class="main-nav"><a href="#0" class="pull-right btn btn-o-white btn-lg">Reach Today</a></nav>
				</div>
			</div>

			<div class="content-block" id="footer">
				<div class="container">
					<div class="row">
							<div class="col-sm-3 blog-post">								
								<h2 class="footer-block">Have a question</h2>
								<p>Here at Reach, your words add value to our wisdom.</p>

								<p>We are always trying to grow, and that can't happen without the support of the Chapman community. Reach is build by Chapman students for Chapman students so please leave any feedback or support. Our team thanks you for your support. <br><br>For any business inquiries, please leave us a message!</p>
							</div>
							<div class="col-sm-4 blog-post">
								<h2 class="footer-block">Leave us a message</h2>
								<form class="" role="form">
									<div class="form-group">
								    	<input type="text" class="form-control form-control-white" id="subject" placeholder="Your Name" required>
								  	</div>
								    <div class="form-group">
								    	<input type="email" class="form-control form-control-white" id="exampleInputEmail2" placeholder="Enter email" required>
								    </div>
								    <div class="form-group">
								    	<textarea class="form-control form-control-white" placeholder="Write Something" required></textarea>
								    </div>
								    <div class="form-group">
								    	<input type="submit" class="text-center btn btn-o-white" value="Say Hello">
								  	</div>
								</form>
							</div>
							<div class="col-md-1"></div>
							<div class="col-sm-4 blog-post text-left">
								
								<h2 class="footer-block">Contact Details</h2>
<!-- 								<ul>
									<li class="address-sub"><i class="fa fa-map-marker"></i>Office Address</li>
										<p>
											Blabla Parkway, P.o Box 353 Mountain View. United States of America. 
										</p>
									<li class="address-sub"><i class="fa fa-phone"></i>Phone</li>
										<p>
											Local: 1-800-123-hello<br>
											Mobile: 1-800-123-hello
										</p> -->
									<li class="address-sub"><i class="fa fa-envelope-o"></i>Email Us</li>
										<p>
											<a href="mailto:chapmanreach@gmail.com">chapmanreach@gmail.com</a><br>
										</p>
								</ul>
								<div class="social">
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-pinterest-p"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-skype"></i></a>
								</div>
								
							</div>
						</div>
				</div>
			</div>
			<div class="content-block footer-bottom" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-6">&copy; Reach 2015</div>
						<div class="col-xs-6 text-right"><a>Reach is not affiliated with Chapman Univeristy</a></div>
					</div>
				</div>
			</div><!-- #footer -->

		</div><!--/#wrapper-->

		

<!-- 		<script src="../assets/javascripts/jquery-2.1.3.min.js"></script>
		<script src="../assets/javascripts/jquery-migrate-1.2.1.min.js"></script>
		<script src="../assets/javascripts/bootstrap.js"></script>
		<script src="/jquery.actual.min.js"></script>
		<script src="/jquery.scrollTo.min.js"></script>
		<script src="../assets/javascripts/script.js"></script>
		<script src="smoothscroll.js"></script>
-->
		<script type="text/javascript">  


		jQuery(document).ready(function($){

		  	$(window).scroll(function() {
		  		
		  		console.log("asdf");

				if ($(window).scrollTop() > 100 ){
		    
		 		$('.top-header').addClass('shows');
		    
		  		} else {
		    
		   	 	$('.top-header').removeClass('shows');
		    
		 		};   	
			});

		  });

		jQuery('.scroll').on('click', function(e){		
				e.preventDefault()
		    
		  jQuery('html, body').animate({
		      scrollTop : jQuery(this.hash).offset().top
		    }, 1500);
		});


		</script>

	</body>
</html>
